<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <title>Item Info</title>
</head>
<body>
        {% load humanize %}
        <form action='/wish' method ='POST'>
        <nav class="navbar navbar-dark bg-dark">
            <span class="navbar-text">
                    Welcome to your wish list {{request.sessions.first_name}}
                </span>
                <a href="/wish"><button class="btn btn-sm btn-outline-primary" type="button">Home</button></a>
                <a href="/logout"><button class="btn btn-sm btn-outline-secondary" type="button">Log Out</button></a>
        </nav>
        </form>
        <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h1 class="display-4">{{request.object.it_item}}</h1>
                  <p class="lead">These are the users who added this product to their wish list.</p>
                </div>
         </div>
         <table>
                <tr>
                    <th class='col'>Name</th>
                </tr>
                {% for x in user %}
                <tr>
                        <th class='col'>{{ x.first_name }}</th>
                </tr>
                {% endfor %}
        </table>
</body>
</html>